.orderButton{
    border-radius: 10px;
    background-color:  #b200ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 13px;
    p:first-of-type{
        font-family: var(--font3);
        font-weight: 600;
        font-size: clamp(0.813rem, 0.639rem + 0.77vw, 1.188rem);
        /* line-height: 44px; */ 
        line-height: 143%;
        text-align: center;
        color: #fff;
    }
}