.smartcardio-slider{
    overflow-x: clip;
    max-width: 100vw;
    .container{
        @extend %container;
        flex-direction: column;
        padding-bottom: $section-padding;
        padding-top: $section-padding;
        gap: $container-gap;
        align-items: center;
        max-width: 1220px;
    }
    .smartcardio-slider__header{
        @extend %section-title;
    }
    #zoom-slider{
        transition: 0.4s;
        opacity: 0;
    }
    .slide{
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        margin-top: auto;

    }
    .image{
        
        height: 420px;
        object-fit: cover;
        border-radius: 20px;
        width: 90%;
        @media (max-width:768px) {
            width: fit-content;
            height: clamp(10.938rem, -1.471rem + 55.15vw, 25rem);
            object-fit: contain;
            margin-top: auto;
            margin-bottom: auto;
        }

    }
    .my-slider-wrapper{
        width:90%;
        // border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        @media (max-width:768px) {
            width: 100%;
        }
    }
    .smartcardio-slider__main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    

    .swiper-slide-active .small-slide{
        border : 2px solid black;
    }

    .smartcardio-slider__p{
        user-select: none;
        @extend %section-title;
        font-size: clamp(1.188rem, 0.902rem + 1.43vw, 2.188rem);
        font-weight: 400; 
        span{
            color: #6cff01;
            font-weight: 600;
        }
    }

    .smartcardio-slider__button{
        user-select: none;
        padding: 20px 200px;
        @extend %gradient-hover;
        @media (max-width:768px) {
            padding: 13px 0px;
            width: 70%;
        }
        // @media (max-width:500px) {
        //     padding: 13px 0px;
        //     width: 100%;
        //     max-width: 270px;
        // }
    }

    
}


.swiper-slide-thumb-active{
    border : 2px solid black;
}