.how-it-works{
    overflow-x: clip;
    max-width: 100vw;
    .container{
        @extend %container;
        flex-direction: column;
        gap: $container-gap;
        padding-bottom: $section-padding;
        padding-top: $section-padding;
        align-items: center;
    }
    .how-it-works__header{
        @extend %section-title;
    }

    .how-it-works__ellipse{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .how-it-works__video{
        width: 45%;
        height: 100%;
        border-radius: 30px;
        line-height: 0;
        object-fit: cover;
        padding: 2px;
        overflow: hidden;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(255, 255, 255, 0.1);

        @media (max-width:920px) {
            width: 60%;
        }

        @media (max-width:768px) {
            border-radius: 20px;
            width: 80%;
            padding: 0;
            box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
        }

        @media (max-width:768px) {
            border-radius: 20px;
            width: 100%;
            padding: 0;
            box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
        }

    }
    .how-it-works__logo{
        position: absolute;
        color: transparent;
        width: 15%;
        @media (max-width:768px) {
            display: none;
        }
    }
    .how-it-works__logo:first-of-type{

        left: 5%;
        top: 10%;

    }
    .how-it-works__logo:last-of-type{
        right: 5%;
        bottom: 10%;
    }

    .how-it-works__main{
        position: relative;
    }

    .border-animation{
        padding: 20px;
    }
    .video{
        border-radius: 30px;
        padding: 50px 100px;
        width: 50%;
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        @media (max-width:1024px){
            border-radius: 16px;
            padding: 80px 40px;
            border: none;
            
        }
        @media (max-width:768px){
            border-radius: 16px;
            padding: 40px 20px;
            border: none;
            
        }
    }
    .how-it-works__main{
        border-radius: 32px;
        display: flex;
        justify-content: center;
        width: 100%;
        filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.1));
    }
}
