

$container-gap :clamp(1.875rem, 1.53rem + 1.72vw, 3.125rem);
$section-padding : clamp(1.563rem, 0.587rem + 4.88vw, 4.063rem);

.none{
    display: none !important;
}
  
.show-opacity{
opacity: 1 !important;
}

.black{
    color: black !important;
}
.black-border{
    border: 2px solid black !important;
    background-color: white !important;
    
}
.circle{
    cursor: pointer;
    min-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

%paragraph{
    font-family: var(--font3);
    font-weight: 400;
    font-size: clamp(1.125rem, 1.038rem + 0.38vw, 1.313rem);
    /* line-height: 70px; */
    line-height: 175%;
    text-align: center;
    color: #202020;
}
%container{
    max-width: 1480px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

%scale-hover{
    transition: 0.4s;
    &:hover{
        scale: 1.1;
    }
}
%white-hover{
    transition: 0.4s;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid black;
        background-color: white !important;
        p{
            color: black !important;
        }
    }
}
%gradient-hover{
    transition: 0.4s;
    position: relative;
    overflow: hidden;  
    &::after{
        content: "";
        position: absolute;
        left: -100%;
        transition: 0.5s;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #40f 0%, #ff00d9 100%);
        z-index: 2;
    }
    &:hover{
        scale: 1.1;
        &::after{
            left: 0;
        }
    }
    p{
        position: relative;
        z-index: 20;
    }
}
%section-title{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: clamp(1.563rem, 1.338rem + 1.12vw, 2.375rem);

    /* line-height: 51px; */ 
    line-height: 108%;
    text-align: center;
    color: #000;
}

.zoom-entry{
    opacity: 0 !important;
    display: none;
}
.zoom-entry-active{
    opacity: 0 !important;
    display: block;
}
.zoom-enter-done{
    opacity: 1 !important;
}
.zoom-exit{
    opacity: 1 !important;
}
.zoom-exit-active{
    opacity: 0 !important;
}
.zoom-exit-done{
    opacity: 0 !important;
    display: none !important;
}