@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom reset */
input,
textarea,
button,
select,
div,
a {
    -webkit-tap-highlight-color: transparent;
}

* {
    scroll-behavior: smooth;
}
